# dependencies
node_modules/

# next.js
.next/
out/

# production
build/
dist/

# local env files
.env
.env*.local
.env.development
.env.production

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# testing / coverage
coverage/
.nyc_output/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# caches
.eslintcache
.turbo/
.vercel/
